main{
  width: 50%;
}
.section_input {
  background-color: rgb(238, 239, 250);
  margin: 15px;
  border-radius: 30px;
  height: 150px;
}

.img_main_input {
  width: 30px;
}

input {
  width: 600px;
}

.div_main {
  align-content: space-between;
  margin: 20px;
}