aside {
  background-color: rgb(37, 191, 202);
  width: 15%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

#profilePicture {
  width: 150px;
  border-radius: 100px;
  border: 5px solid rgb(28, 133, 98);
  margin: auto;
}

.iconImage {
  width: 30px;
}