#aside_profileSummary {
  background-color: rgb(238, 239, 250);
  width: 15%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
}

#profilePicture {
  width: 150px;
  border-radius: 100px;
  border: 5px solid rgb(200, 222, 251);
  margin: auto;
}

.iconImage {
  width: 30px;
}